.dataset-detail-container {
  margin: 0px 5%;
  padding: 20px;
  font-family: "epilogue", sans-serif;
}

.datasetDetail-judul {
  font-family: "epilogue", sans-serif;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.dataset-detail-container p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 10px;
}

.dataset-info {
  border-top: 1px solid #ddd;
  padding-top: 15px;
  margin-top: 15px;
}

.dataset-detail-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dataset-detail-table th,
.dataset-detail-table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.dataset-detail-table th {
  color: black;
  font-weight: bold;
  width: 200px;
}

.dataset-detail-table td {
  vertical-align: top;
}

.dataset-Interoperabilitas {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  padding: 30px;

}

.dataset-Interoperabilitas th,
.dataset-Interoperabilitas td {
  padding: 20px;
  text-align: left;
  border: 1px solid #e0e0e0;
}
.table>:not(caption)>*>* {
  padding: 15px !important;
}
.dataset-Interoperabilitas th {
  background-color: #f8f9fa;
}

.download-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.download-link:hover {
  background-color: #0056b3;
}

.chart-container, .polar-chart-container {
  width: 100%;
  margin-top: 2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.dataset-section{
  display: flex;
  gap: 20px;
}
.dataset-Interoperabilitas-judul{
  display: flex;
 justify-content: space-between;
}
.bar{
  width: 70%;
  justify-content: center;
  display: flex;
  margin-left: 200px;
  
}