/* src/components/organisms/Footer.css */
.footer {
    background-color: #202555;
    display: flex;
    justify-content: space-between;
    align-items: center;
   bottom: 0;
   margin-bottom: 0;
   text-align: center;
   padding: 20px;
   text-align: center;
   font-family: "epilogue";

  }
  
  .footer p {
    color: #fff;
    margin: auto;
  }
 