:root {
  --layout-width: 1280px;
  --layout-padding: 42px 68px;
  --layout-gap: 68px;
  --layout-opacity: 1;
}
/* LAYOUT */
.layout {
  display: flex;
  width: var(--layout-width);
  padding: var(--layout-padding);
  gap: var(--layout-gap);
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center; 
  margin-top: 5rem;
}

/* TEXT SECTION */
.text-section {
  flex: 1;
}

/* PEMBUNGKUS GAMBAR */
.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GAMBAR PADA HEADER */
.image-section img {
  width: 100%; 
  height: auto; 
  transition: transform 0.3s ease;
}

/* GAMBAR KETIKA DI HOVER */
.image-section img:hover {
  transform: scale(1.05); 
}

/* TEXT BRANDING */
.branding {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin-bottom: 10px;
}

/* TEXT VISUAL DESIGNER */
.visual-designer {
  font-family: "Epilogue", sans-serif;
  font-size: 68px;
  font-weight: 600;
  line-height: 69.7px;
  text-align: left;
  margin-bottom: 20px;
}

/* DESKRIPSI PADA HEADER */
.description {
  font-family: "Epilogue", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

/* BUTTON UNTUK HEADER DAN CONTACT */
.button-link {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
  background-color: #2d2d2d;
  width: 211px; 
  height: 78px; 
  padding: 24px 64px; 
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; 
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}
  

.button-link:hover {
  background-color: #007bff;
}
