:root {
  --layout-width: 1280px;
  --layout-padding: 42px 68px;
  --layout-gap: 68px;
  --layout-opacity: 1;
}

.layout {
  display: flex;
  width: var(--layout-width);
  padding: var(--layout-padding);
  gap: var(--layout-gap);
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center; /* Menyelaraskan item secara vertikal di tengah */
  margin-top: 5rem;
}

.text-section {
  flex: 1;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section img {
  width: 100%; /* Pastikan gambar menyesuaikan lebar kontainer */
  height: auto; /* Menjaga proporsi gambar */
  transition: transform 0.3s ease;
}

.image-section img:hover {
  transform: scale(1.05); /* Zoom in saat hover */
}

.branding {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin-bottom: 10px;
}

.visual-designer {
  font-family: "Epilogue", sans-serif;
  font-size: 68px;
  font-weight: 600;
  line-height: 69.7px;
  text-align: left;
  margin-bottom: 20px;
}

.description {
  font-family: "Epilogue", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

.button-link {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
  background-color: #2d2d2d;
  /* Warna teks putih untuk kontras dengan latar belakang */
  width: 211px; /* Ukuran lebar sesuai dengan kebutuhan */
  height: 78px; /* Ukuran tinggi sesuai dengan kebutuhan */
  padding: 24px 64px; /* Padding di sekitar teks */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; /* Pastikan elemen terlihat */
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

  

  

.button-link:hover {
  background-color: #007bff;
}
