

/* Kontainer utama Kontak */
.Kontak-layout {
  width: 1280px; 
  height: 426px; 
  padding: 42px 24px 86px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 20px;
}

/* Judul Kontak */
.judul-kontak {
  font-family: Epilogue, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
}

/* Container untuk dua baris */
.baris-container {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
}

/* Baris pertama */
.baris-1 {
  width: 520px;
  height: 232px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Baris kedua */
.baris-2 {
  width: 520px; 
  height: 232px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box; 
}




/* Styling untuk bagian kiri dan medsos */
.kontak-kiri {
  font-family: "Epilogue", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

.kontak-medsos {
  display: flex;
  width: 570px;
  height: 36px;
  gap: 24px;
}

.kontak-medsos img {
  height: 36px;
  width: auto;
  transition: transform 0.3s ease;
}
.kontak-medsos img:hover {
  transform: scale(1.2);
}
