/* Styling untuk background container utama */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height */
    background: linear-gradient(135deg, #6cc5d1 0%, #d4d7db 100%);
    font-family: 'Epilogue', sans-serif;
  }
  
  /* Styling untuk kotak login */
  .login-box {
    background-color: rgba(168, 168, 168, 0.1); /* Transparan putih */
    backdrop-filter: blur(10px); /* Efek blur pada background */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.2); /* Efek shadow */
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  /* Styling untuk judul login */
  .login-title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-wrap: bold;
  }
  
  /* Styling untuk form login */
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Styling untuk input form */
  .login-input {
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    background-color: rgba(99, 115, 119, 0.2);
    color: #000000;
    outline: none;
    box-shadow: 0 6px 4px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
  }
  
  /* Efek saat input fokus */
  .login-input:focus {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
  /* Styling untuk tombol login */
  .login-button {
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: #ffffff;
    color: #550dff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Efek hover pada tombol */
  .login-button:hover {
    background-color: #b8b8b8;
    color: black;
    transform: translateY(-3px); /* Tombol naik sedikit saat dihover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  }
  
  /* Styling untuk animasi fade-in */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Menambahkan animasi fade-in ke login-box */
  .login-box {
    animation: fadeIn 1s ease-in-out;
  }
  