:root {
    --navbar-color: #ffffff; 
    --logo-font-family: "Epilogue", sans-serif;
    --logo-font-size: 20px; 
    --logo-font-weight: 600; 
    --logo-line-height: 30px; 
    --menu-font-family: "Epilogue", sans-serif; 
    --menu-font-size: 17px; 
    --menu-font-weight: 400; 
    --menu-line-height: 27px; 
  }
  
  /* UNTUK NAVBAR */
  .navbar {
    display: flex;
    width: 100%; 
    height: auto; 
    justify-content: space-between; 
    align-items: center; 
    background-color: var(--navbar-color); 
    position: fixed !important;
    top: 0;
    left: 0; 
    right: 0; 
    z-index: 999; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  }
  
  /* Styling untuk brand dan menu */
  .navbar-brand a {
    font-family: var(--logo-font-family);
    font-size: var(--logo-font-size);
    font-weight: var(--logo-font-weight);
    line-height: var(--logo-line-height);
    text-align: left;
    color: #181818; 
    text-decoration: none;
    margin-left: 10px;
    padding: 42px 24px;
  }
  
  /* NAVBAR MENU */
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-left: 20px; 
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: #333; 
    font-family: var(--menu-font-family);
    font-size: var(--menu-font-size); 
    font-weight: var(--menu-font-weight); 
    line-height: var(--menu-line-height); 
    text-align: left; 
  }
  
  .navbar-menu a:hover {
    color: #007bff; 
  }

  /* NAVBAR LOGO */
  .navbar-logo {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 10px; 
    vertical-align: middle; 
  }
  .navbar-menu li:last-child {
    margin-right: 20px; 
  }
  