/* Gaya umum untuk testimonial */
.testimoni {
  width: 1280px;
  padding: 42px 24px;
  gap: 42px;
  opacity: 1;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Gaya untuk bagian judul testimonial */


/* Gaya untuk konten testimonial */
.testimoni-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 42px;


}

/* Gaya untuk setiap item testimonial */
.testimoni-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: #f3f3f3;
  box-sizing: border-box;
  padding: 42px;


}

/* Gaya untuk teks testimonial */
.testimoni-text {
  font-family: "Epilogue";
  font-size: 17px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}

/* Gaya untuk bagian footer testimonial */
.testimoni-footer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 20px;

}

/* Gaya untuk keterangan testimonial */
.testimoni-keterangan {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}

/* Gaya untuk nama */
.testimoni-nama-company .nama {
  font-family: "Epilogue";
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin: 0;
}

/* Gaya untuk perusahaan */
.testimoni-nama-company .company {
  font-family: "Epilogue";
  font-size: 17px;
  text-align: left;
  margin: 0;
}
