
.navbar {
  padding: 0px; 
  background-color: #fff; 
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.navbar-logo-link {
  display: flex;
  align-items: center; 
  text-decoration: none; 
}

.navbar-logo {
  height: 40px;
  margin-right: 8px; 
}

.logo-text {
  font-size: 19px; 
  line-height: 1;
}

.logo-subtext {
  display: block;
  font-size: 12px; 
}
