/* NavbarItem.css */
.navbar-item {
    margin-left: 20px; 
  }
  
  .navbar-item a {
    text-decoration: none;
    color: #2D2D2D; 
    font-family: var(--menu-font-family);
    font-size: var(--menu-font-size);
    font-weight: var(--menu-font-weight);
    line-height: var(--menu-line-height);
    text-align: left;
  }
  
  .navbar-item a:hover {
    color: #007bff; 
  }
  