/* Subtitle.css */
.subtitle {
  font-size: 24px; 
  font-weight: 600; 
  line-height: 30px; 
  margin: 0; 
  text-align: center; 
  font-family: "Epilogue", sans-serif;
  margin-top: 20px;
  color: #2D2D2D;
}

/* Styling ketika hover */
.subtitle:hover {
  color: #007bff; 
}
