.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Styles untuk tombol Logout */
.navbar-menu {
  list-style: none; /* Menghapus bullet points dari list */
  display: flex; /* Mengatur item menu menjadi fleksibel */
  align-items: center; /* Vertikal center */
  justify-content: flex-end; /* Menempatkan menu di kanan */
  margin: 0; /* Menghapus margin */
  padding: 0; /* Menghapus padding */
}

.navbar-menu li {
  margin-left: 20px; /* Jarak antar item navbar */
}

.logout-button {
  background-color: #f44336; /* Warna tombol merah */
  color: white; /* Warna teks putih */
  border: none; /* Menghapus border */
  padding: 10px 15px; /* Padding pada tombol */
  font-size: 16px; /* Ukuran font */
  cursor: pointer; /* Kursor berubah menjadi pointer */
  border-radius: 100px; /* Sudut tombol agak membulat */
  transition: background-color 0.3s ease; /* Animasi saat hover */
  border: 2px solid rgb(131, 7, 7);
}

/* Efek hover pada tombol */
.logout-button:hover {
  background-color: #d32f2f; /* Warna lebih gelap saat hover */
}

/* Efek saat tombol ditekan */
.logout-button:active {
  background-color: #b71c1c; /* Warna lebih gelap saat ditekan */
}

/* Menghapus outline default pada fokus */
.logout-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Efek bayangan saat fokus */
}
